<?php $this->layout->nav();?>
<div id="zan-bodyer" class="container">
    <div id="mainstay" class="row-fluid">
        <div id="major">
        <?php foreach ($article as $item):;?>
            <div id="yoo-zoo" class="yoo-zoo blog-noble blog-noble-tag">
                <!--
                <h3 style="" class="tag-title">相关标签：<?php echo $item['tagName'];?></h3>
                -->
                <div class="items items-col-1">
                    <div class="width100 first last">
                    <div class="item">
                        <div class="pos-date">
                            <span class="day"><?php echo $item['d'];?></span><span class="month"><?php echo $item['m'];?>月</span>
                        </div>
                        <h1 class="pos-title"> <?php echo $item['title'];?></h1>
                        <div class="pos-content">
                            <div class="element element-textarea first last">
                                <div>
                                     <?php echo $item['content'];?>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <p class="pos-meta">
                            <span class="element element-relateditems first">
                                文章作者: <a  title="Benz">Benz</a> ,
                            </span>
                            <span class="element element-itemcategory last">
                                文章分类: <a href="/blog/category/素材分享.html"><?php echo $item['cateName'];?></a>
                            </span>
                            <span class="element element-itemcategory last">
                                文章标签: <a href="/blog/category/素材分享.html"><?php echo $item['tagName'];?></a>
                            </span>
                        </p>
                    <?php endforeach ;?>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sidebar-right" class="pull-right">

<!--
<div class="">
<div class="alert alert-blank fade in" style="text-align: center;">
<strong>免费获取Bootstrap3博客主题！</strong>
<button class="close" type="button" data-dismiss="alert">×</button>
<a href="http://www.yeahzan.com/blog/item/42-98.html" target="_blank"><img alt="Bootstrap3主题" src="./icon图标 - 佚站互联YEAHZAN.COM - 用心创造每一站_files/zanblog.png" data-pinit="registered"></a>
</div>
</div>
-->


<!-- 右侧和尾部 -->
<?php $this->layout->right();?>
