        <footer class="blog-footer">
            <p>
                Copyright © piaoyifa.com 版权所有 京ICP证18003253号
            </p>
        </footer>
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js">
        </script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
        <script>
            $(document).ready(function(){
                $(".content img").addClass('img-responsive');
            }); 
        </script>
        <script src="<?php echo site_url().'source/index/js/p-blog.js';?>">

        </script>
    </body>

</html>
