<!DOCTYPE html>
<html lang="zh-CN">
    
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            Blog
        </title>
        <!-- Bootstrap core CSS -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet" />
        <link rel="stylesheet" href="<?php echo site_url(); ?>source/index/css/p-blog.css" type="text/css">
        <link rel="stylesheet" href="<?php echo site_url(); ?>source/index/css/p-blog-article.css" type="text/css">
        <link rel="stylesheet" href="<?php echo site_url(); ?>source/index/css/item.css" type="text/css">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug <link href="../../assets/css/ie10-viewport-bug-workaround.css"
        rel="stylesheet">
        -->
        <!-- Custom styles for this template <link href="blog.css" rel="stylesheet">
        -->
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]>
            <script src="../../assets/js/ie8-responsive-file-warning.js">
            </script>
        <![endif] <script src="../../assets/js/ie-emulation-modes-warning.js">
        </script>
        -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media
        queries -->
        <!--[if lt IE 9]>
            <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js">
            </script>
            <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
            </script>
        <![endif]-->
        <style>
        .content p img{
           width:650px; 
           height:auto; 
        }
        .content p{
            font-size:15px;
        }
        </style>
    </head>
    
    <body style="">
        <div class="blog-masthead navbar-fixed-top">
            <div class="container">
                <nav class="blog-nav">
                    <a class="blog-nav-item" href="<?php echo site_url('index/home');?>">
                       首页 
                    </a>
                    <?php foreach ($cates as $item) :?>
                    <a class="blog-nav-item" href="<?php echo site_url('index/home/category/'.$item['id']);?>">
                        <?php echo $item['name']?>
                    </a>
                    <?php endforeach ?>
                    <a class="blog-nav-item pull-right" data-toggle="modal" data-target="#login" style="padding-right:0px;outline:none;" href="" >
                       登陆 
                    </a>

                </nav>
            </div>
        </div>
        <!-- 模态框 -->
        <!-- Modal -->
        <div class="modal fade" id="login" role="dialog" style="overflow:scroll width:700px;";>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </span>
                        <h4 style="text-align:center" class="modal-title" id="myModalLabel">第三方登陆</h4>
                    </div>
                    <div class="modal-body">
                        <a href=""><img src="http://127.0.0.1/uploads/image/QQ.png" alt="QQ登录" title="QQ登录"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 模态框结束 -->
