                <div class="col-sm-4 blog-sidebar">
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>
                            热门标签
                        </h4>
                        <ul class="" id="p-tag">
                            <?php foreach ($tag as $item): ?>
                            <li class="btn btn-small">
                                <a type="button" href="<?php echo site_url("home/tag/") . $item['id'];?>">
                                    <?php echo $item['name'].'('.$item['num'].')';?>
                                </a>
                            </li>
                            <?php endforeach ?>
                        </ul>
                    </div>
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>
                            最新文章
                        </h4>
                        <ol class="list-unstyled">
                            <?php foreach ($article as $item): ?>
                            <li>
                                <i class="glyphicon glyphicon-list-alt">
                                </i>
                                <a href="<?php echo site_url('article/index/') . $item['id']; ?>">
                                    <?php echo $item['title'];?>
                                </a>
                            </li>
                            <?php endforeach ?>
                        </ol>
                    </div>
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>
                            友情链接 
                        </h4>
                        <ol class="list-unstyled p-link">
                            <?php foreach ($link as $item): ;?>
                            <li>
                                <i class="glyphicon glyphicon-link">
                                </i>
                                <a href="<?php echo $item['href'];?>" target="_blank">
                                    <?php echo $item['name'];?>
                                </a>
                            </li>
                            <?php endforeach ;?>
                        </ol>
                    </div>
                </div>
                <!-- /.blog-sidebar -->
            </div>
            <!-- /.row -->
        </div>
